@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Lao:wght@100..900&family=Padauk:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .newLetters__bg {
    @apply bg-[url('../assets/HomeAssets/newLetters.png')]  bg-cover bg-center;
  }
}

.page-loading-progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}
@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

/* Override the library's default styles for smooth transitions */
.accordion__panel {
  padding: 0; /* Ensures consistent padding */
  margin: 0;
  overflow: hidden; /* Prevents content from overflowing during animation */
  transition: max-height 0.3s ease; /* Smooth height transition */
  max-height: 0; /* Initially collapsed */
}

.accordion__panel--expanded {
  max-height: 300px; /* Maximum height when expanded (adjust if needed) */
}
